<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- `\<\%= htmlWebpackPlugin.options.title \%\>` -%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  </head>
  <body class="line-numbers">
    <div class="totonoo--layout totonoo--about">
      <%- include('../../components/header.ejs', {
        navCurrent: 4
      }) %>
      <div class="totonoo--main-box">
        <div class="totonoo--main-scroll">
          <div class="totonoo--main-layout" id="detail-layout">
            <main class="main" id="detail-main">
              <div class="detail-main">
                <article class="detail-article" id="detail-article">
                  <div class="totonoo--article-title">
                    <h1 class="page-title">关于我们</h1>
                  </div>
                  <div class="totonoo--markdown-style" id="totonoo--article">
                    <h2>sssss</h2>
                <blockquote>
    <p>HTML的英文全称是 Hyper Text Marked Language，即超文本标记语言。HTML是由Web的发明者 Tim Berners-Lee和同事 Daniel W. Connolly于1990年创立的一种标记语言，它是标准通用化标记语言SGML的应用。用HTML编写的超文本文档称为HTML文档，它能独立于各种操作系统平台(如UNIX， Windows等)。使用HTML语言，将所需要表达的信息按某种规则写成HTML文件，通过专用的浏览器来识别，并将这些HTML文件“翻译”成可以识别的信息，即现在所见到的网页。</p>
    </blockquote>
    <table><thead><tr><th>名称</th><th>网址</th><th>JS框架</th><th>开发公司</th></tr></thead><tbody><tr><td>ElementUI</td><td><a href="https://element.eleme.cn/#/zh-CN">https://element.eleme.cn/#/zh-CN</a></td><td>vue</td><td>饿了么</td></tr><tr><td>AntD</td><td><a href="https://ant.design/index-cn">https://ant.design/index-cn</a></td><td>react，非官方vue版本</td><td>蚂蚁金服</td></tr><tr><td>Vuetify</td><td><a href="https://vuetifyjs.com/zh-Hans/">https://vuetifyjs.com/zh-Hans/</a></td><td>vue</td><td>vue官方推荐</td></tr><tr><td>Angular Material</td><td><a href="https://material.angular.io/">https://material.angular.io/</a></td><td>Angula</td><td>-</td></tr><tr><td>Cube-ui</td><td><a href="https://didi.github.io/cube-ui/">https://didi.github.io/cube-ui/</a></td><td>vue</td><td>滴滴</td></tr><tr><td>Taro-ui</td><td><a href="https://taro.aotu.io/">https://taro.aotu.io/</a></td><td>-</td><td>京东</td></tr><tr><td>FrozenUI</td><td><a href="http://frozenui.github.io/">http://frozenui.github.io/</a></td><td>-</td><td>腾讯</td></tr><tr><td>Bootstrap</td><td><a href="https://v4.bootcss.com/">https://v4.bootcss.com/</a></td><td>-</td><td>-</td></tr></tbody></table>
    <p>标记语言的意思就是用指定的标签来表示指定的意思。比如<code>&lt;h1&gt;&lt;/h1&gt;</code>表示标题，<code>&lt;p&gt;&lt;/p&gt;</code>表示段落，<code>&lt;ol&gt;&lt;/ol&gt;</code>表示有序列表等。所以学习html的技巧没有别的，就是记住每个标签是什么意思，怎么用就行了。一般分为输入和输出2种，输出就是纯展示，输入就是与用户的交互（input，select等）。</p>
    <p><strong>提示：</strong></p>
    <ul>
    <li>html注释写法<code>&lt;!-- 注释 --&gt;</code>，注释就是写给自己看的，不会展现在页面上。</li>
    <li>正文部分的标签一般是成对出现，比如h1，<code>&lt;h1&gt;</code>表示开始 <code>&lt;/h1&gt;</code>表示结尾。</li>
    <li>但是有一些不用成对出现，比如换行符<code>&lt;br&gt;</code></li>
    <li>现在说的都是html5标签，现代浏览器大部分都支持了，如果要支持到IE6，请自行退下。</li>
    </ul>
    <h2>顶顶顶顶</h2>
    <p>下面的代码就包含了常用的一些html标签，这些标签记住了，基本上就掌握了html语言。如果了解全量的html标签，可以自己去找。</p>
    <pre><code class="language-html">&lt;!DOCTYPE html&gt; &lt;!-- 声明文档类型版本 --&gt;
    &lt;html&gt; &lt;!-- html开始 --&gt;
      &lt;head&gt; &lt;!-- 头部 --&gt;
        &lt;meta charset=&quot;utf-8&quot;&gt; &lt;!-- 声明编码，一般用utf-8 --&gt;
        &lt;title&gt;网页标题&lt;/title&gt; &lt;!-- 文档标题，显示在浏览器的标签 --&gt;
        &lt;meta name=&quot;keywords&quot; content=&quot;文档关键词&quot;&gt; &lt;!-- 文档关键词 --&gt;
        &lt;meta name=&quot;description&quot; content=&quot;文档描述&quot;&gt; &lt;!-- 文档描述 --&gt;
        &lt;link rel=&quot;shortcut icon&quot; href=&quot;/favicon.ico&quot;&gt; &lt;!-- 文档icon，显示在浏览器的标签 --&gt;
        &lt;link rel=&quot;stylesheet&quot; href=&quot;/styles/main.css&quot; media=&quot;all&quot;&gt; &lt;!-- 引入css --&gt;
      &lt;/head&gt;
      &lt;body&gt; &lt;!-- 正文 --&gt;&lt;!-- 列一些常用标签 --&gt;
        &lt;!-- 输出 --&gt;
        &lt;h1&gt;我是1级标题&lt;/h1&gt;
        &lt;h2&gt;我是2级标题&lt;/h2&gt;
        &lt;h3&gt;我是3级标题&lt;/h3&gt;
        &lt;h4&gt;我是4级标题&lt;/h4&gt;
        &lt;h5&gt;我是5级标题&lt;/h5&gt;
        &lt;h6&gt;我是6级标题&lt;/h6&gt;
        &lt;p&gt;段落&lt;/p&gt;
        &lt;ul&gt;
          &lt;li&gt;无序列表&lt;/li&gt;
          &lt;li&gt;无序列表&lt;/li&gt;
        &lt;/ul&gt;
        &lt;ol&gt;
          &lt;li&gt;有序列表&lt;/li&gt;
          &lt;li&gt;有序列表&lt;/li&gt;
        &lt;/ol&gt;
        &lt;dl&gt;
          &lt;dt&gt;项目1&lt;/dt&gt;
          &lt;dd&gt;项目说明&lt;/dd&gt;
          &lt;dt&gt;项目2&lt;/dt&gt;
          &lt;dd&gt;项目说明2&lt;/dd&gt;
          &lt;dd&gt;项目说明3&lt;/dd&gt;
        &lt;/dl&gt;
        &lt;a href=&quot;http://mp.weixin.qq.com&quot;&gt;我是链接&lt;/a&gt;
        &lt;div&gt;无意义块级节点&lt;/div&gt;
        &lt;span&gt;无意义行内元素&lt;/span&gt;
        &lt;table&gt; &lt;!-- 表格 --&gt;
          &lt;thead&gt; &lt;!-- 表格头部 --&gt;
            &lt;tr&gt;
              &lt;th&gt;日期&lt;/th&gt;
              &lt;th&gt;金额&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt; &lt;!-- 表格主题 --&gt;
            &lt;tr&gt;
              &lt;td&gt;2020-06-06&lt;/td&gt;
              &lt;td&gt;&amp;yen; 100.00&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;2020-06-07&lt;/td&gt;
              &lt;td&gt;&amp;yen; 200.00&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
          &lt;tfoot&gt; &lt;!-- 表格尾部 --&gt;
            &lt;tr&gt;
              &lt;td colspan=&quot;2&quot;&gt;&amp;yen; 300.00&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tfoot&gt;
        &lt;/table&gt;
        &lt;!-- 行内js --&gt;
        &lt;script&gt;
          console.log(1)
        &lt;/script&gt;
        &lt;!-- 引入js文件 --&gt;
        &lt;script src=&quot;path/index.js&quot;&gt;&lt;/script&gt;
        &lt;!-- 行内css --&gt;
        &lt;style&gt;
          a { font-size: 12px; }
        &lt;/style&gt;
        &lt;!-- 布局类标签 --&gt;
        &lt;section&gt; &lt;!-- 文档的区段 --&gt;
          &lt;aside&gt;&lt;/aside&gt; &lt;!-- 要表达的内容之外的内容 --&gt;
          &lt;section&gt;
            &lt;header&gt;&lt;/header&gt; &lt;!-- 头部 --&gt;
            &lt;main&gt;
              &lt;article&gt;文档内容&lt;/article&gt;
            &lt;/main&gt; &lt;!-- 主体 --&gt;
            &lt;footer&gt;&lt;/footer&gt; &lt;!-- 尾部 --&gt;
          &lt;/section&gt;
        &lt;/section&gt;
  
        &lt;!-- 以上就是常用的输出标签，更多标签就自行查找了 --&gt;
  
        &lt;!-- 输入标签 --&gt;
        &lt;form&gt;
          &lt;ul&gt;
            &lt;li&gt;
              &lt;label&gt;名字：&lt;input type=&quot;text&quot;&gt;&lt;/label&gt;
            &lt;/li&gt;
            &lt;li&gt;
              性别：
              &lt;label&gt;&lt;input type=&quot;radio&quot; value=&quot;1&quot; name=&quot;g&quot;&gt; 男&lt;/label&gt; 
              &lt;label&gt;&lt;input type=&quot;radio&quot; value=&quot;0&quot; name=&quot;g&quot;&gt; 女&lt;/label&gt;
            &lt;/li&gt;
            &lt;li&gt;
              &lt;label&gt;
                籍贯：
                &lt;select&gt;
                  &lt;option value=&quot;beijing&quot;&gt;北京市&lt;/option&gt;
                  &lt;option value=&quot;yueyang&quot;&gt;湖南省岳阳市&lt;/option&gt;
                &lt;/select&gt;
              &lt;/label&gt;
            &lt;/li&gt;
            &lt;li&gt;
              爱好：
              &lt;label&gt;&lt;input type=&quot;checkbox&quot; value=&quot;1&quot; name=&quot;l&quot;&gt; 看书&lt;/label&gt; 
              &lt;label&gt;&lt;input type=&quot;checkbox&quot; value=&quot;2&quot; name=&quot;l&quot;&gt; 游泳&lt;/label&gt;
              &lt;label&gt;&lt;input type=&quot;checkbox&quot; value=&quot;3&quot; name=&quot;l&quot;&gt; 上网&lt;/label&gt;
            &lt;/li&gt;
            &lt;li&gt;
              &lt;label&gt;
                自我介绍：
                &lt;textarea&gt;&lt;/textarea&gt;
              &lt;/label&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
          &lt;fieldset&gt; &lt;!-- 复杂表单进行分块 这个是比较有用 --&gt;
            &lt;legend&gt;你伴侣的信息&lt;/legend&gt;
            &lt;ul&gt;
              &lt;li&gt;
                &lt;label&gt;名字：&lt;input type=&quot;text&quot;&gt;&lt;/label&gt;
              &lt;/li&gt;
              &lt;li&gt;
                性别：
                &lt;label&gt;&lt;input type=&quot;radio&quot; value=&quot;1&quot; name=&quot;g&quot;&gt; 男&lt;/label&gt; 
                &lt;label&gt;&lt;input type=&quot;radio&quot; value=&quot;0&quot; name=&quot;g&quot;&gt; 女&lt;/label&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/fieldset&gt;
          &lt;button type=&quot;reset&quot;&gt;重置表单&lt;/button&gt;
          &lt;button type=&quot;submit&quot;&gt;提交数据&lt;/button&gt;
        &lt;/form&gt;
  
      &lt;/body&gt;
    &lt;/html&gt;
    </code></pre>
    <p>用2个面试题来结尾吧。</p>
    <h2>bbbb</h2>
    <ul>
    <li>~~ 怎么判断一个网页使用的html的版本？这个html5刚出来的时候面试官很喜欢问，答案就是根据第一行的申明<code>&lt;!DOCTYPE html&gt;</code>来判断，现在基本应该没有人问了。 ~~</li>
    <li>怎么理解html语义化标签？就是尽量搞懂每个标签代表的意思，表达内容和标签能基本匹配就行。这个其实也不重要，但是有人会问。</li>
    </ul>
                  </div>
                </article>
                <div class="article-nav" id="article-nav">
                  <ul>
                    <li class="h2 current"><a href="#">我是谁？</a></li>
                    <li class="h2"><a href="#">联系方式</a></li>
                    <li class="h2"><a href="#">联系地址</a></li>
                    <li class="h2"><a href="#">更多联系方式</a></li>
                  </ul>
                </div>
              </div>
            </main>
          </div>
          <%- include('../../components/footer.ejs') %>
        </div>
      </div>
    </div>
  </body>
</html>
