.#{$--class-prefix}article {
  @include blockLine();
  padding: $--gap-lager;
}
.#{$--class-prefix}article-title {
  padding: 0 0 $--gap-lager;
  h1 {
    font-size: 24px;
    font-weight: normal;
  }
  .info {
    ul {
      display: flex;
      @include resetMP();
      li {
        padding-right: $--gap;
        font-size: $--font-normal;
        color: $--text-secondary;
        .iconfont {
          margin-right: 6px;
          color: $--text-placeholder;
        }
        a {
          @include textLink(14, $--text-secondary);
          @include hoverLine();
          margin-right: $--gap-small;
        }
      }
    }
  }
}
.#{$--class-prefix}article-related {
  padding: $--gap-lager 0;
  ul {
    display: flex;
    @include resetMP();
    li {
      width: 50%;
      &:last-child {
        text-align: right;
      }
    }
    a {
      @include textLink(16, $--color-primary)
    }
  }
}
