.#{$--prefix}markdown-style {
  @include font-16px();

  p {
    line-height: 1.7 !important;
    min-height: 1em !important;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    text-align: justify;
    margin: 20px 0 !important;
  }

  blockquote {
    border-left: 4px solid $--color-placeholder;
    padding: 0 15px !important;
    margin: 0px;
    color: $--color-gray;
    @include font-14px();
  }

  strong {
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-break: break-all !important;
    margin: 20px 0;
    padding-bottom: .3em;
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    position: relative;
  }

  h1 {
    font-size: 20px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  a {
    color: $--color-primary !important;
    text-decoration: none !important;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  li {
    line-height: 24px;
  }

  hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
  }

  code {
    margin: 0 2px;
    padding: 3px 5px;
    color: $--color-primary;
    border-radius: 2px;
    white-space: inherit;
    background-color: #f8f8f8;
  }
  .header-anchor {
    display: none;
  }
  img {
    width: 100%;
  }
}
