@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  font-style: normal;
}
@mixin font-12px {
  font-size: $--font-small;
  line-height: 16px;
}
@mixin font-14px {
  font-size: $--font-normal;
  line-height: 20px;
}
@mixin font-16px {
  font-size: $--font-large;
  line-height: 24px;
}
@mixin font-18px {
  font-size: $--font-x-large;
  line-height: 32px;
}

@mixin box-shadow-light {
  box-shadow: $--box-shadow-light;
}
@mixin box-shadow {
  box-shadow: $--box-shadow;
}

@mixin link($size: 14, $color: $--color-gray-dark, $hover: $--color-primary, $active: $--color-primary-dark) {
  @if $size == 12 {
    @include font-12px;
  }
  @if $size == 14 {
    @include font-14px;
  }
  @if $size == 16 {
    @include font-16px;
  }
  @if $size == 18 {
    @include font-18px;
  }
  text-decoration: none;
  transition: $--transition;
  color: $color;
  &:hover {
    color: $hover;
  }
  &:active {
    color: $active;
  }
}

@mixin button($size: 14, $width: auto, $color: $--color-white, $link: $--color-primary, $hover: $--color-primary-dark, $active: $--color-primary-dark) {
  @if $size == 12 {
    @include font-12px;
  }
  @if $size == 14 {
    @include font-14px;
  }
  @if $size == 16 {
    @include font-16px;
  }
  @if $size == 18 {
    @include font-18px;
  }
  width: $width;
  transition: $--transition;
  color: $color;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: $link;
  padding: 10px;
  border-radius: $--border-radius-4px;
  &:hover {
    background-color: $hover;
  }
  &:active {
    background-color: $active;
  }
}

@mixin hoverLine ($height: 2px) {
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: $height;
    width: 100%;
    background: $--color-primary;
    transform: scale(0);
    transition: $--transition;
    border-radius: $height;
  }
  &:hover:before{
    transform: scale(1);
  }
}

@mixin blockLine {
  border: $--border;
  margin-bottom: $--gap-lager;
  transition: $--transition-shadow;
  border-radius: $--border-radius-4px;
  background-color: $--color-white;
  &:hover {
    @include box-shadow();
  }
}