// color
$--color-primary: #009844; // 品牌色

// text color
$--font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"';
$--text-primary: $--color-primary;

// font
$--font-small: 12px;
$--font-normal: 14px;
$--font-large: 16px;

$--class-prefix: 'totonoo--';