// color
$--color-primary: #009844; // 品牌色

// text color
$--font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"';
$--text-primary: $--color-primary;
$--text-black: #333333;
$--text-regular: #767676;
$--text-secondary: #9e9e9e;
$--text-placeholder: #b8b8b8;
$--text-thin: #cecece;

// text link color
$--color-link: $--text-regular;
$--color-hover: $--color-primary;
$--color-active: $--text-regular;
$--color-transition: all 200ms ease;

// border color
$--border-primary: $--color-primary;
$--border-regular: #e8e8e8;
$--border-secondary: #eeeeee;

// font
$--font-small: 12px;
$--font-normal: 14px;
$--font-large: 16px;
$--font-x-large: 18px;

// height
$--header-height: 60px;

// gap
$--gap: 15px;
$--gap-lager: 30px;
$--gap-small: 5px;

$--class-prefix: 'totonoo--';