.#{$--prefix}collection-list {
  .#{$--prefix}bookshelf {
    padding: $--gap-lager;
    .image-text {
      padding-bottom: $--gap-lager;
      ul {
        @include reset();
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: $--gap-lager;
        .item {
          @include blockLine();
          transition: $--transition;
          margin-bottom: 0;
          &:hover {
            background-color: $--bg-color;
          }
          img {
            width: 100%;
            border-radius: $--border-radius-normal $--border-radius-normal 0 0;
          }
          p {
            @include reset();
            @include font-14px();
            padding: $--gap;
            color: $--color-gray;
          }
          h3 {
            @include reset();
            @include font-16px();
            text-align: center;
            padding: $--gap;
            border-top: $--border;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .#{$--prefix}collection-list {
    .#{$--prefix}bookshelf {
      .image-text {
        padding-bottom: $--gap-lager;
        ul {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 800px) {
  .#{$--prefix}collection-list {
    .#{$--prefix}bookshelf {
      .image-text {
        padding-bottom: $--gap-lager;
        ul {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .#{$--prefix}collection-list {
    .#{$--prefix}bookshelf {
      .image-text {
        padding-bottom: $--gap-lager;
        ul {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
