.#{$--prefix}tags-main {
  width: 100%;
  box-sizing: border-box;
  padding: $--gap-lager;
  margin: 0 auto;
  min-height: 80vh;
  a {
    display: inline-block;
    white-space: nowrap;
    padding: $--gap-small $--gap $--gap-small $--gap * 1.5;
    margin: $--gap-small;
    background-color: rosybrown;
    border-radius: 2px;
    color: $--color-white;
    transition: $--transition;
    position: relative;
    &::before {
      width: 4px;
      height: 4px;
      border-radius: 100%;
      display: block;
      background: $--color-white;
      position: absolute;
      left: $--gap-small * 2;
      top: 50%;
      margin-top: -1px;
      content: " ";
      overflow: hidden;
    }
    &:hover {
      opacity: 0.8;
      top: -2px;
    }
  }
  .bg-1 {
    background-color: #f05b72;
  }
  .bg-2 {
    background-color: #f47920;
  }
  .bg-3 {
    background-color: #faa755;
  }
  .bg-4 {
    background-color: #b2d235;
  }
  .bg-5 {
    background-color: #4e72b8;
  }
  .bg-6 {
    background-color: #ae6642;
  }
  .bg-7 {
    background-color: #6950a1;
  }
  .bg-8 {
    background-color: #006c54;
  }
  .bg-9 {
    background-color: #dea32c;
  }
  .bg-10 {
    background-color: #ea66a6;
  }
  .bg-11 {
    background-color: #b69968;
  }
  .bg-12 {
    background-color: #33a3dc;
  }
}
