<%
const current = '散文'
const aside = {
  categories: [
    {
      title: '工作台',
      children: [
        {
          title: '文档',
          children: [
            {
              title: '学习笔记'
            },
            {
              title: '博客专栏'
            },
            {
              title: '旅行攻略'
            }
          ]
        },
        {
          title: '知识库',
          children: [
            {
              title: '散文'
            },
            {
              title: '杂文'
            },
            {
              title: '小说'
            }
          ]
        }
      ]
    },
    {
      title: '实践',
      children: [
        {
          title: '空间',
          children: []
        },
        {
          title: '项目',
          children: []
        }
      ]
    }
  ],
tags: [
    {
      title: '教授',
      count: 10
    }, {
      title: '简介',
      count: 11
    }, {
      title: '书摘',
      count: 14
    }, {
      title: '经验',
      count: 14
    }, {
      title: '时间',
      count: 14
    }, {
      title: '北野武',
      count: 14
    }, {
      title: '笑与泪',
      count: 14
    }
  ]
}
%>
<aside class="totonoo--aside" id="totonoo--aside">
  <div class="side-nav aside-item">
    <h2><i class="iconfont icon-file-open"></i>文章分类 <small>Category</small></h2>
    <nav class="side-nav-list">
      <%
      const _categories = aside.categories || []
      const html = []
      const forEachTree = (data = [], level = 0) => {
        html.push('<ul>')
        data.forEach(item => {
          html.push(`<li><a href="categories.html" class="${level == 0 ? 'first-level' : ''} level-${level} ${item.title == current ? 'current' : ''}">${item.title}</a>`)
          if (item.children && item.children.length > 0){
            forEachTree(item.children, (level + 1))
          }
          html.push('</li>')
        })
        html.push('</ul>')
      }
      forEachTree(_categories, 0)
      %>
      <%- html.join('') %>
    </nav>
  </div>
  <div class="side-nav aside-item">
    <h2><i class="iconfont icon-discount"></i>文章标签 <small>Tags</small></h2>
    <div class="side-tag-list">
      <% 
      const _tags = aside.tags || []
      const maxLen = _tags.length > 20 ? 20 : _tags.length
      for (let i = 0; i < maxLen; i++) {
        const item = _tags[i]
      %>
      <a href="tags.html"><%= item.title %></a>
      <% } %>
    </div>
  </div>
  <div class="gongzonghao">
    <img src="./resource/images/qrcode.png">
  </div>
</aside>
