<footer class="totonoo--page-footer">
  Copyright &copy; 2005 - 2020 
  <a href="/" class="totonoo--link-small">Totonoo.com</a>
  <a href="http://beian.miit.gov.cn/" class="totonoo--link-small" target="_balnk">粤ICP备12041241号</a>
</footer>