<header class="totonoo--top-header">
  <div class="logo">
    <a href="/">
      <i class="logo-icon"></i>
      <h1>Totonoo<small>.com</small></h1>
    </a>
  </div>
  <%- include('topNav.ejs', {
    navCurrent
  })%>
</header>