<nav class="totonoo--top-nav">
  <ul>
    <%
      const navs = [{
        title: '首页',
        path: '/',
        icon: 'icon-home'
      }, {
        title: '文集',
        path: '/collection.html',
        icon: 'icon-docs'
      }, {
        title: '时光轴',
        path: '/time.html',
        icon: 'icon-time'
      }, {
        title: '关于我',
        path: '/about.html',
        icon: 'icon-share'
      }]
      navs.forEach((item, index) => {
    %>
    <li class="item<%= index == navCurrent ? ' current' : '' %>">
      <a href="<%= item.path %>">
        <i class="iconfont <%= item.icon %>"></i>
        <%= item.title %>
      </a>
    </li>
    <% 
      })
    %>
  </ul>
</nav>
