<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- `\<\%= htmlWebpackPlugin.options.title \%\>` -%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  </head>
  <body>
    <div class="totonoo--layout totonoo--search">
      <%- include('../../components/header.ejs', {
        navCurrent: 0
      }) %>
      <div class="totonoo--main-box">
        <div class="totonoo--main-scroll">
          <div class="totonoo--search-main" id="search-box"></div>
          <%- include('../../components/footer.ejs') %>
        </div>
      </div>
    </div>
  </body>
</html>
