.#{$--prefix}detail {
  .detail-main {
    width: 100%;
    float: left;
    clear: both;
    .detail-article {
      overflow: hidden;
      float: left;
    }
    .article-nav {
      width: 260px;
      overflow: hidden;
    }
  }
  .detail-article {
    @include blockLine();
    box-sizing: border-box;
    padding: $--gap-lager;
    flex: 1;
  }
  .#{$--prefix}article-title {
    padding: 0 0 $--gap-lager;
    h1 {
      font-size: 24px;
      font-weight: normal;
    }
    .info {
      ul {
        display: flex;
        @include reset();
        li {
          padding-right: $--gap;
          font-size: $--font-normal;
          color: $--color-gray;
          .iconfont {
            margin-right: 6px;
            color: $--color-gray-light;
          }
          a {
            @include link(14, $--color-gray);
            @include hoverLine();
            margin-right: $--gap-small;
          }
        }
      }
    }
  }
  .#{$--prefix}article-related {
    padding: $--gap-lager 0 0;
    ul {
      display: flex;
      @include reset();
      li {
        width: 50%;
        &:last-child {
          text-align: right;
        }
      }
      a {
        @include link(16, $--color-primary, $--color-contrast, $--color-contrast-dark)
      }
    }
  }
  .article-nav {
    width: 260px;
    min-height: 10px;
    overflow: hidden;
    float: right;
    ul {
      width: 260px;
      display: block;
      @include reset();
      position: fixed;
      top: $--gap-lager * 2 + $--height-header;
      right: 26px;
      transition: $--transition;
      li {
        border-left: 2px transparent solid;
        box-sizing: border-box;
        padding: 2px 0;
        transition: $--transition;
        a {
          @include font-12px();
          padding-right: $--gap-lager;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          box-sizing: border-box;
        }
        &:hover {
          background-color: $--bg-dark;
        }
      }
      @for $i from 1 through 6 {
        .h#{$i} {
          a {
            padding-left: ($--gap * ($i - 1));
          }
        }
      }
      .current {
        border-left-color: $--color-primary;
        a {
          color: $--color-primary;
        }
      }
    }
  }
}
