.#{$--prefix}article {
  @include blockLine();
  padding: $--gap-lager;
}
.#{$--prefix}article-title {
  padding: 0 0 $--gap-lager;
  h1 {
    font-size: 24px;
    font-weight: normal;
  }
  .info {
    ul {
      display: flex;
      @include reset();
      li {
        padding-right: $--gap;
        font-size: $--font-normal;
        color: $--color-gray;
        .iconfont {
          margin-right: 6px;
          color: $--color-gray-light;
        }
        a {
          @include link(14, $--color-gray);
          @include hoverLine();
          margin-right: $--gap-small;
        }
      }
    }
  }
}
.#{$--prefix}article-related {
  padding: $--gap-lager 0;
  ul {
    display: flex;
    @include reset();
    li {
      width: 50%;
      &:last-child {
        text-align: right;
      }
    }
    a {
      @include link(16, $--color-primary, $--color-contrast, $--color-contrast-dark)
    }
  }
}
