.#{$--prefix}article {
  box-sizing: border-box;
  @include blockLine();
  padding: $--gap-lager;
}
.#{$--prefix}has-nav {
  padding-right: 300px;
  position: relative;
  .article-nav {
    width: 260px;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: $--height-header;
    margin-left: $--gap-lager;
    ul {
      @include reset();
      li {
        border-left: 2px #e8e8e8 solid;
        box-sizing: border-box;
        padding: 2px 0;
        transition: $--transition;
        a {
          @include font-12px();
          padding-right: $--gap-lager;
        }
        &:hover {
          background-color: $--color-bg-dark;
        }
      }
      @for $i from 1 through 6 {
        .h#{$i} {
          a {
            padding-left: ($--gap * ($i - 1));
          }
        }
      }
      .current {
        border-left-color: $--color-primary;
        a {
          color: $--color-primary;
        }
      }
    }
  }
}
.#{$--prefix}article-title {
  padding: 0 0 $--gap-lager;
  h1 {
    font-size: 24px;
    font-weight: normal;
  }
  .info {
    ul {
      display: flex;
      @include reset();
      li {
        padding-right: $--gap;
        font-size: $--font-normal;
        color: $--color-gray;
        .iconfont {
          margin-right: 6px;
          color: $--color-gray-light;
        }
        a {
          @include link(14, $--color-gray);
          @include hoverLine();
          margin-right: $--gap-small;
        }
      }
    }
  }
}
.#{$--prefix}article-related {
  padding: $--gap-lager 0;
  ul {
    display: flex;
    @include reset();
    li {
      width: 50%;
      &:last-child {
        text-align: right;
      }
    }
    a {
      @include link(16, $--color-primary, $--color-contrast, $--color-contrast-dark)
    }
  }
}
